div {
    margin-left:auto;
    margin-right:auto;
  }

hr {
    border-bottom: 0;
}
body {
    background-color: #ebebeb;
    font-family: monospace;
    text-decoration: none;
}
.dnav {
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* no underline */
}
a:hover {color: rgb(255, 255, 255);
    text-decoration: none; /* no underline */}

.hrr {
    font-size: 5px;
}
.bod {
    background-color: #fafafa;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
}
.imglab {
    margin-top: 10px;
    position: static;
    align-items: center;
    border-radius: 10px;
    display: block;
    margin: auto;
    height: auto; 
    width: auto; 
    max-width: 99%; 
    max-height: 99%;
}
.waystojoin {
    background-color: #ebebeb;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    max-width: 700px;
}
.wayslabel {
    text-align: center;
    position: relative;
    
}
.wtjtext {
    background-color: #fafafa;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    max-width: 700px;
    border-color:black;
}
.buttoncopy {
    margin-top: -65px;
    margin-right: 15px;
    background-color: lighgray;
    padding: 20px 20px;
    border:none;
    border-radius: 10px;
}
.disc {
    background-color: #652dff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    max-width: 700px;
    min-width: 300px;
    text-decoration: none;
}
.dsclogo {
    color: white;
    align-content: center;
    margin:200px;
    position: relative;
    top:10px
}
.dscl2 {
    color: white;
    margin: 10px;
    position: relative;
    top:10px;
    margin-left: 450px;
}
.dsctext {
    font-size: 60px;
    color: white;
    margin-left:140px;
}
.waystojoin23 {
    background-color: #ebebeb;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    max-width: 1100px;
    min-width: 620.5px;
}
.wayslabel23 {
    text-align: center;
    position: relative;
    
}
.wtjtext23 {
    background-color: #fafafa;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    max-width: 700px;
    border-color:black;
}

footer {
    background-color: #fafafa;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    min-height: 70px;
    text-align: end;
}
.cop {
    position: relative;
    top: 20px;
    left:-20px
}
.card-w {
    width: 1300px;
}
@media only screen and (max-width: 1850px) {
    .waystojoin {
        width: 455px;
    }
    .dsclogo {
        margin:100px;
    }
    .dsctext {
        margin-left:50px;
    }
    .dscl2 {
        margin-left: 250px;
    }
    .waystojoin23 {
        min-width: 500px;
    }
  }
